<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testView20170329.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6801F2631E8B4C4B005E77D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6801F2771E8B4C4B005E77D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6801F2821E8B4C4C005E77D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
